body{
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Header */
/* Navigation list */

nav{
    background-color: white;
    width: 100%;
}
nav ol{
    display: flex;
    justify-content: space-around;
    
}
nav li {
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    background-color: gray;
    border-radius: 2px;
}

/* Horizontal line under nav */
.Horizontallinenav{
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
  }

    /* Check us out */
.Checkusout{
    background-color:  rgb(255, 247, 248);
    width: 100%;
    height: 100%;
    padding: 5px;
}
.Checkus{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-bottom: 0;
    margin: 10px;
}
.Tastemore{
    width: 100%;
    height: 100%;
}

/* Front page image carousel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  margin-top: 10px;
  max-width: 1000px;
  max-height: 1000px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Product div holder */
.Products{
  background-color: rgb(255, 247, 248);
  padding: 5px; 
}
.Productholder{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.Buttonalign{
margin-top: 5px;
text-align: right;
}
.buttontoproduct{
  background-color: rgb(255, 247, 248);
  border: none;
  color: rgb(255, 190, 198);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 0px;
}
.Texttoproducts:hover{
color: rgb(252, 158, 169);
cursor: pointer;

}
.Product1{
    background-image: linear-gradient( transparent,black);
    color: white;
    border-style: solid;
    border-color:rgb(255, 190, 198);
    border-radius: 7px;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    padding: 0px;
    margin-left: 10px;
    display: inline-flex;
    position: relative;
    text-align: center;
  }


  .Prices{
  position: absolute;
  bottom: 8px;
  left: 16px;
  }
  /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* Who we are */
.Ourstory{
    background-color: rgb(237, 235, 235);
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 50px;
}
.Whoweare{
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
}
.Ourstoryimage{
width: auto;
}

.Bakingperson{
    width: 100%;
    height: 20%;
    margin-top: 0;
    filter:saturate(90%);
    filter: hue-rotate(red);
}
/* Give us a shout */
.Giveusashout{
  width: 100%;
  max-height: 100%;
}
.Shout{
  font-size: xx-large;
  color: rgb(252, 158, 169);
}
.Flexforsearch{
  display: flex;
  justify-content: space-around;
}
.Namesearch{
  border: none;
  border-bottom: solid;
  background-color: rgb(255, 247, 248);
  margin-right: 5px;
  width: 30%;
}
.emailsearch{
  border: none;
  border-bottom: solid;
  background-color: rgb(255, 247, 248);
  width: 30%;
}
.message{
  border: none;
  margin: 10px;
  margin-top: 20px;
  border-bottom: solid;
  background-color: rgb(255, 247, 248);
  width: 80%;
}
.submit{
  width: 80%;
  border: none;
  background-color: rgb(252, 158, 169);
  padding: 5px;
  color: white;
}
.submit:hover{
  background-color: rgb(250, 140, 153);
  cursor: pointer;
}
/* Where to find */
.Containmap{
  border-top: dotted;
  border-color: rgb(250, 140, 153);
  margin-top: 10px;
  display: inline-flex;
  display: flex;
}
.Map{
  margin-top: 10px;
}
.Directions{
  padding: 5px;
  color: rgb(250, 140, 153);
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Wheretofind{
  font-size: xx-large;
}
/* footer */
.footername{
  font-size: x-large;
  background-color: white;
  padding: 5px;
}
.mysite{
  background-color:rgb(237, 235, 235) ;
  font-size: small;
  padding: 5px;
}
footer{
  background-color:rgb(237, 235, 235) ; 
  font-size: x-small;
}

/* ABOUT US PAGE */
.Origintext{
  font-size: smaller;
  color: #717171;
  padding: 5px;
}

/* PRODUCTS PAGE */
.Decs{
  position: absolute;
  top: 0px;
  background-color:  rgb(250, 140, 153);
  left: 0px;
  width: 100px;
  height: 30px;
  padding: 5px;
}
/* NUTRITION PAGE */
.Nutproduct1{
  display: flex;
  padding: 5px;
  justify-content: space-around;
}
.imagenut{
  margin: 5px;
}
.table{
  margin: 5px;
  border-color: rgb(252, 227, 230);
  border-style: solid;
  border-radius: 7px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(252, 227, 230);
}
/* MEET THE TEAM PAGE */
.Employees{
  text-align: center;
  margin: 10px;
  padding: 30px;
}
.Employ{
  font-size: xx-large;
  color: rgb(250, 140, 153);
  margin-bottom: 0;
}
.dottedline{
  border-style: dotted;
  width: 100%;
  margin: 10px;
}
.flexforteam{
  padding: 5px;
  justify-content: space-around;
  display: flex;
  text-align: center;
}
.ourteam{
  width: 30%;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  bottom: 5px;
}
.makebakerymiddle{
  color: white;
}
/* ABOUT THIS SODE PAGE */
.Aboutcontents{
  display: flex;
  padding: 5px;
  justify-content: space-around;
}
.Contents{
  text-align: center;
  border-style: solid;
  border-color: rgb(250, 140, 153);
  padding: 10px;
  background-color: rgb(255, 247, 248);
  color: rgb(250, 140, 153)
}
.Contentnumber{
  font-size: xx-large;
  color: rgb(250, 140, 153);
}
.Abouthissite{
  display: flex;
  padding: 5px;
  justify-content: space-around;
  background-color: white;
}
.Wireframebox{
  margin: 10px;
  align-self: center;
  background-color: white;
}
.Thehomepage{
  padding: 10px;
}
.Titlebonusmarks{
font-size: larger;
color: rgb(250, 140, 153);
background-color: white;
padding: 5px;
}
.Bonusmarklist{
  font-size: smaller;
  color: gray;
}